body {
  padding: 0 1rem;
}

#root {
  max-width: 72rem;
  margin: 0 auto;
}

em {
  font-size: 1.5rem;
  color: #000;
}

.footer__link {
  float: right;
  color: #407FC7;
}

.footer__link:hover {
  color: #5995DA;
}

.footer__link:active {
  color: #3b99fc;
}
